<div style="margin: 0 auto;width: 650px">
<div style="display: block;width: 100%">
  <%= image_tag("evalua_tu_experiencia_unab.png", width: 650) %>
</div>

<h2 style="margin: 3em auto;display: block;font-weight:bold;font-size:1.2em;width: 100%;"> Estimada/o Estudiante </h2>

<p style="margin: 1em auto;display: block;font-size:1em;width: 100%;text-align: justify;"> Con el objetivo de conocer tu experiencia en relacion a nuestro
servicio y plataforma de atención, te invitamos a contestar una breve encuesta. </p>

<div style="margin: 3em auto;display: block;text-align: center;width: 100%;">
<%= link_to "https://es.research.net/r/5M8JN3T?ticket_id=#{@person.tickets.first.crm_ticket_id}" do %>
  <%= image_tag('ingresa_aqui_unab.png', width: 250) %>
<% end %>
</div>

<p style="margin: 3em auto;display: block;font-size:1em;width: 100%;text-align: justify;"> Tu respuesta es una oportunidad para seguir mejorando y entregar un servicio
de calidad a nuestra comunidad universitaria. </p>

<p style="margin: 2.3em auto;display: block;text-align: center;width: 100%;font-size:2em;"> ¡Muchas gracias! </p> 

<div style="margin: 2em auto;display: block;text-align: center;width: 100%;"><%= image_tag('unab_logo.png',width: 250) %></div>

<div style="margin: 2em auto;width: 100%"><%= image_tag('footer_unab.png', width: 650) %></div>
</div>
