<div style="margin: 0 auto;width: 650px">
<div style="display: block;width: 100%">
  <%= image_tag("evalua_tu_experiencia_unab.png", width: 650) %>
</div>

<h2 style="margin: 3em auto;display: block;font-weight:bold;font-size:1.4em;width: 100%;color:#5b5b5b;"> Estimada/o Estudiante </h2>

<p style="margin: 1em auto;display: block;font-size:1.2em;width: 100%;text-align: justify;color:#5b5b5b;">
<% if @custom_msg.present? %>
<%= @custom_msg %>
<% else %>
Con el objetivo de conocer tu experiencia en relacion a nuestro
servicio y plataforma de atención, te invitamos a contestar una breve encuesta.
<% end %>
</p>

<div style="margin: 3em auto;display: block;text-align: center;width: 100%;">
<%= link_to "https://es.research.net/r/#{@tracker_id}?ticket_id=#{@ticket.crm_ticket_id}" do %>
  <%= image_tag('ingresa_aqui_unab.png', width: 250) %>
<% end %>
</div>

<p style="margin: 3em auto;display: block;font-size:1.2em;width: 100%;text-align: justify;color:#5b5b5b;"> Tu respuesta es una oportunidad para seguir mejorando y entregar un servicio
de calidad a nuestra comunidad universitaria. </p>

<p style="margin: 2.3em auto;display: block;text-align: center;width: 100%;font-size:2em;color:#5b5b5b;"> ¡Muchas gracias! </p> 

<div style="margin: 2em auto;display: block;text-align: center;width: 100%;"><%= image_tag('unab_logo.png',width: 220) %></div>

<div style="margin: 2em auto;width: 100%"><%= image_tag('footer_unab.png', width: 650) %></div>
<p style="margin: 1em auto;display: block;font-size:1em;width: 100%;text-align: justify;text-align: center;color:#5b5b5b;"> ® Universidad Andrés Bello 2019. </p>
<p style="margin: 1em auto;display: block;font-size:1em;width: 100%;text-align: justify;text-align: center;color:#5b5b5b;"> Si no deseas recibir más información de nuestra universidad, <%=link_to  "clickea aqui", "http://inxmail.unab.cl/unsubscribe.jsp?params=4889460+disenadoraweb%40unab.cl+6+000d3uy0000k0000000000000byglb34"%> </p>

</div>

